<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
    <title>Contact</title>
    <!-- Bootstrap CSS -->
    <style>
        /* Custom styles */
        .container {
            max-width: 400px;
            margin: 0 auto;
        }
        body {
            background-color: #f8f9fa;
        }
    </style>
</head>

<body>
    <%- include("./partials/nav") %>

    <form class="container card p-3 mt-4" method="post" action="/contact/addContact">
        <h1 class="mb-4">Contact Form</h1>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input name="email" placeholder="blogify@gmail.com" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Enter Name </label>
            <input name="name" placeholder="eg:- Satish Kumar" type="text" class="form-control" id="name"
                aria-describedby="name" required>
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Enter Message</label>
            <textarea name="message" placeholder="Hey Its great project 👌" type="text" class="form-control" id="content" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <%- include("./partials/script") %>
</body>

</html>
